.head1 {
    display: flex;
    align-items: center;
}

.footer {
    background-color: black;
    height: 40vh;
    border-radius: 10px;
    margin-top: 5rem;
}

.foot {
    font-family: sans-serif;
    margin-top: 1rem;
    border-radius: 10px;
}

.founders {
    background-color: bisque;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headc ul li a{
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 0.5rem;
    border-radius: 5px;
    position: absolute;
    right: 150px;
    top: 50px;
}

.headc ul {
    list-style: none;
}

.brand h1 {
    margin-left: 7vw;
}